// This is an example config file to make your tests.
// 1 - Make a copy of this file an rename it to testConfigs.js, 
// 2 - Change the infos related to slack and e-mail and run the tests!
{
  "name": "memoTests",
  "version": "1.2.3",
  "memo":{
    "options": {
      "key1": {
        "title": "title for message 1",
        "content": "this is the content for message 1",
        "attachChangelog": true
      }
    },
    "changelogFile": "./CHANGELOG.md",
    "slack": {
      "webhookUri":"https://hooks.slack.com/services/change/for/a/valid/webhook",
      "channel": "#general",
      "username": "memo"
    }
  }
}
